figure {
  position: relative;
  overflow: hidden;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.mask.show {
  display: unset;
}
img {
  width: 100%;
  height: auto;
}
.top {
  margin-bottom: 50px;
  z-index: 2;
}
.reset {
  margin-left: 20px;
}
.print {
  min-height: 690px;
}
