<button class="btn btn-primary" id="maskBtn" (click)="showMask()">{{status ? 'Hide mask' : 'Show mask'}}</button>

<div *ngFor="let dataItem of PrintsList" class="print">
  <div class="top">
    <p>{{dataItem.imgId}}. {{dataItem.printer}}</p>
    <!-- <button class="btn btn-secondary" (click)="scale=scale+.1">+</button>
      <button class="btn btn-secondary" (click)="scale=scale-.1">-</button>
      <button class="btn btn-secondary reset" (click)="scale=1">Reset</button> -->
  </div>
  <div class="row">
    <div class="print col-lg-6">
      <pan-zoom [config]="panZoomConfig">
        <figure>
          <img src="http://127.0.0.1:8000{{dataItem.scan}}" alt="img">
          <img [ngClass]="status ? 'mask show' : 'mask'" src="http://127.0.0.1:8000{{dataItem.mask}}" alt="mask">
        </figure>
      </pan-zoom>
    </div>
    <div class="print col-lg-6">
      <pan-zoom [config]="panZoomConfig">
        <figure>
          <img src="http://127.0.0.1:8000{{dataItem.scan}}" alt="img">
          <img [ngClass]="status ? 'mask show' : 'mask'" src="././assets/svg_img/svg_mask{{dataItem.imgId}}.svg"
            alt="maskSVG">

        </figure>
      </pan-zoom>
    </div>
  </div>

</div>
